{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>Projects</title>
	<link rel="stylesheet" type="text/css" href="{% static 'pages/projectBits.css' %}" />
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Chela+One" rel="stylesheet">
</head>
<body>

	<div class="head">
		<img src="images/2.png">
		<a href="#">New Project</a>
		<a href="#">View Project</a>
		<a href="#">Developer Team</a>
	</div>

	<div class="image">
		<img src="images/18.jpg">
	</div>

	<div class="overlay"></div>

	<div class="vision">
		<h1>Vision</h1>
	</div>

</body>
</html>
